---
import { marked } from 'marked'

const t = Astro.locals.t

const sectionTitleStyles =
  'mt-1 border-b border-accent2 p-0 font-semibold text-md uppercase text-right'

const jobs = [
  {
    position: t('position.senior.fullstack'),
    company: t('company.maze'),
    url: 'https://www.maze.co/',
    period: t('month.aug') + ' 2021-' + t('time.today'),
    time: t('time.currently'),
    location: '100% ' + t('location.remote'),
    description: t('job.maze.description'),
    tech: t('job.maze.tech'),
  },
  {
    position: t('position.senior.frontend'),
    company: t('company.prezly'),
    url: 'https://www.prezly.com/',
    period: t('month.mar') + ' 2021-' + t('month.jul') + ' 2021',
    time: '5 ' + t('time.months'),
    location: '100% ' + t('location.remote'),
    description: t('job.prezly.description'),
    tech: t('job.prezly.tech'),
  },
  {
    position: t('position.senior.frontend'),
    company: t('company.sourcefabric'),
    url: 'https://www.superdesk.org/',
    period: '2018-2020',
    time: '3 ' + t('time.years'),
    location: '100% ' + t('location.remote'),
    description: t('job.sourcefabric.description'),
    tech: t('job.sourcefabric.tech'),
  },
  {
    position: t('position.fullstack'),
    company: t('company.stang'),
    url: 'https://stangds.com',
    period: '2016-2018',
    time: '2 ' + t('time.years'),
    location: t('location.marquette'),
    description: t('job.stang.description'),
    tech: t('job.stang.tech'),
  },
]
---

<div>
  <h3 class={sectionTitleStyles}>{t('section.experience')}</h3>
  <ul class="py-3 pl-4 border-l border-accent2">
    {
      jobs.map((job) => (
        <li class="p-2 my-2 border border-dashed rounded-md border-accent">
          <div class="flex justify-between w-full">
            <strong>
              <span class="italic text-accent">{job.position}</span>
              {t('time.at')}
              <a href={job.url}>
                <i>{job.company}</i>
              </a>
            </strong>
            <span class="text-right">{job.period}</span>
          </div>
          <div class="flex justify-between w-full my-2 text-sm">
            <span>
              <i>{job.location}</i>
            </span>
            <span>
              <i>{job.time}</i>
            </span>
          </div>
          <div class="flex justify-between w-full mt-1 text-sm">
            <span set:html={marked.parseInline(job.description)} />
            <span class="font-semibold text-right text-accent">{job.tech}</span>
          </div>
        </li>
      ))
    }
  </ul>
</div>