---
import type { TranslationFunction } from '../lib/translations'
import Skill from './Skill.astro'
import {
  SiTypescript,
  SiReact,
  SiMongodb,
  SiNeo4J,
  SiNeovim,
} from 'react-icons/si'
import { FaNodeJs } from 'react-icons/fa'
import {
  TbSql,
  TbBrandNextjs,
  TbBrandTailwind,
  TbBrandFigma,
} from 'react-icons/tb'
import { AiFillApple, AiFillGithub } from 'react-icons/ai'
import { DiLinux } from 'react-icons/di'
import { SiElectron, SiLua, SiSwift } from 'react-icons/si'

export interface Props {
  _: TranslationFunction
}

const { _ } = Astro.props

const sectionTitleStyles =
  'mt-1 border-b border-accent2 p-0 font-semibold text-md uppercase text-right'

const mainSkills = [
  { name: 'Typescript', icon: SiTypescript },
  { name: 'ReactJS', icon: SiReact },
  { name: 'NextJS', icon: TbBrandNextjs },
  { name: 'Tailwind', icon: TbBrandTailwind },
  { name: 'NodeJS', icon: FaNodeJs },
  { name: 'GitHub', icon: AiFillGithub },
  { name: 'macOS', icon: AiFillApple },
  { name: 'Linux', icon: DiLinux },
]

const secondarySkills = [
  { name: 'Neo4J', icon: SiNeo4J },
  { name: 'SQL', icon: TbSql },
  { name: 'MongoDB', icon: SiMongodb },
  { name: 'Electron', icon: SiElectron },
  { name: 'Neovim', icon: SiNeovim },
  { name: 'Figma', icon: TbBrandFigma },
  { name: 'Lua', icon: SiLua },
  { name: 'Swift', icon: SiSwift },
]
---

<div>
  <h3 class={sectionTitleStyles}>{_('Skills')}</h3>
  <div class="p-3 border-l border-accent2">
    <h4 class="text-lg font-semibold">{_('Core')}</h4>
    <article class="flex flex-wrap">
      {
        mainSkills.map((s) => (
          <div class="my-2">
            <Skill text={s.name} Icon={s.icon} _={_} />
          </div>
        ))
      }
    </article>
    <h4 class="my-2 text-lg font-semibold">{_('Secondary')}</h4>
    <article class="flex flex-wrap">
      {
        secondarySkills.map((s) => (
          <div class="my-2">
            <Skill text={s.name} Icon={s.icon} _={_} />
          </div>
        ))
      }
    </article>
  </div>
</div>